.footer {
    /* display: block; */
    padding: 60px 0;
    background-color: #171917;
    text-align: center;
}

.footer__text {
    color: #A8A8A8;
    font-weight: lighter;
    font-size: 0.8em;
}

.social-media-icons {
    text-align: right;
}

.social-media-icons a {
    margin: 0 0.7em;
    color: white;
    font-size: 1.4em;
    text-decoration: none;
    transition: all .25s ease-out;
}

.social-media-icons a:hover {
    color: #888888;
}

@media only screen and (max-width: 768px) {
    .social-media-icons { 
        text-align: center;
    }
    .social-media-icons a {
        margin: 0.9em;
        font-size: 1.8em;
    }
}