.carousel__container {
    position: relative;
    background: black;
    overflow: hidden;
}

.carousel__banner {
    position: relative;
    height: 600px;
    background-size: cover;
    background-position: center center;
    animation: 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0s sizeToFit;
}
.carousel__lockup {
    position: absolute;
    margin: 0 auto;
    padding-top: 6px;
    top: 0;
    right: 0;
    width: 74%;
    animation: 2.5s cubic-bezier(0.185, 0.61, 0.355, 1) 0s slideInFromTop;
}
@media only screen and (max-width: 992px) {
    .carousel__lockup {
        width: 84%;
    }
}

@media only screen and (max-width: 768px) {
    .carousel__banner {
        height: 500px;
    }
    .carousel__lockup {
        width: 96%;
        top: 1%;
        left: 0;
    }
}

@keyframes sizeToFit {
    0% {
        transform: scale(1.05);
        opacity: 0;
    }
    7% {
        transform: scale(1.05);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-30%);
        opacity: 0;
    }
    30% {
        transform: translateY(-30%);
        opacity: 0;
    }
   
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}