<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="mb-3">Co-Commissioners</h1>
      </div>
  </div>
          
  <div class="commissioner row mb-5" *ngFor="let commissioner of commissioners">
      <div [ngsReveal]="{distance:'0px'}" class="col-sm-7">
          <img class="commissioner-image" src={{commissioner.imageUrl}} alt="">
      </div>
      <div [ngsReveal]="{distance:'0px'}" class="col-sm-12">
            <h2 class="text-green commissioner-name mb-3">{{ commissioner.name }}</h2><h2 [ngsReveal]="{distance:'36px',origin:'left'}" class="commissioner-title">{{commissioner.title}}</h2>
          <p class="multi-lines-text">{{ commissioner.text }}</p>
      </div>
  </div>
</div>
<!-- THE LINE BESIDE THE NAME TO SEPARATE FROM TITLE, MAYBE ALSO MAKE TITLE UNBOLD -->