<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="mb-3">Co-Commissioners</h1>
      </div>
  </div>
          
  <div ngsReveal class="commissioner row mb-5" *ngFor="let commissioner of commissioners">
      <div class="col-sm-7">
          <img class="commissioner-image" src={{commissioner.imageUrl}} alt="">
      </div>
      <div class="col-sm-12">
            <h3 class="text-dark-green commissioner-name font-weight-bold">{{ commissioner.name }}</h3>
            <h4 class="commissioner-title text-darker-gray font-weight-boldest mt-3">{{commissioner.title}}</h4>
          <p class="multi-lines-text mt-3">{{ commissioner.text }}</p>
      </div>
  </div>
</div>
