
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Commissioners</h1>
        </div>
    </div>
            
    <div class="about__commissioner row" *ngFor="let commissioner of commissioners">
        <div class="col-sm-9">
            <img class="about__commissioner-image" src={{commissioner.imageUrl}} alt="">
        </div>
        <div class="col-sm-12">
            <h2>{{ commissioner.name }}</h2>
            <p class="font-italic font-weight-light">{{ commissioner.title }}</p>
            <p class="multi-lines-text">{{ commissioner.text }}</p>
        </div>
        
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Curators</h1>
        </div>
    </div>

    <div class="curators__curator row" *ngFor="let curator of curators">
        <div class="col-6 col-sm-3">
            <img class="curators__curator-image" src={{curator.imageUrl}} alt="">
        </div>
        <div class="col-sm-9">
            <h2>{{ curator.name }}</h2>
            <p class="font-italic font-weight-light">{{ curator.title }}</p>
            <p class="multi-lines-text">{{ curator.text }}</p>
        </div>
        
    </div>
</div>
