.navbar {
    background-color: white;
    transition: 0.5s ease;
}
.navbar-brand-logo {
    margin: 0 auto;
    width: 90px;
    transition: 0.5s ease;
}
@media only screen and (max-width: 768px) {
    .navbar-brand-logo {
        width: 80px;
    }
}
.navbar-brand-logo.scrolled {
    width: 50px;
}

.navbar-toggler {
    border: none;
}
.nav-link.nav-item {
    margin: 0 10px;
    color: #6F6F6F;
    font-weight: lighter;
    font-size: 0.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-link.nav-item:hover {
    color: #0A0A0A;
}

.navbar-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: #6F6F6F;
    font-size: 0.8em;
}
@media only screen and (max-width: 768px) {
    .navbar-text {
        display: none;
    }
}