<nav class="navbar fixed-top navbar-expand-md navbar-light">
    <a class="navbar-brand" routerLink="">
        <img class="navbar-brand-logo"
        [class.scrolled]="isScrolled"
        src="/assets/brand/main-logo-light.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" (click)="isCollapsed = !isCollapsed" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav mr-auto">
            <a class="nav-link nav-item" routerLink="/about">ABOUT</a>
            <a class="nav-link nav-item" routerLink="/pavilion">PAVILION</a>
            <a class="nav-link nav-item" routerLink="/projects">FEATURED PROJECTS</a>
            <!-- <a class="nav-link nav-item" routerLink="/events">Events</a> -->
            <a class="nav-link nav-item" routerLink="/contact">CONTACT</a>
        </div>
        <span class="navbar-text">
            SINGAPORE PAVILION&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;VENICE BIENNALE
        </span>
    </div>
</nav>