<nav [class.scrolled]="isScrolled" class="navbar fixed-top navbar-expand-md navbar-light">
    <a (click)="isCollapsed = true" class="navbar-brand" routerLink="">
        <img class="navbar-brand-logo"
        src="/assets/brand/main-logo-light.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <div class="navbar-nav mr-auto">
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/about">ABOUT</a>
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/commissioners">COMMISSIONERS</a>
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/curators">CURATORS</a>
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/pavilion">PAVILION</a>
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/projects">PROJECTS</a>
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/events">EVENTS</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/press">PRESS</a>
            <a (click)="isCollapsed = true" class="nav-link nav-item" routerLink="/contact">CONTACT</a>
        </div>
    </div>
</nav>
