.events__card-wrapper {
    display: flex;
}

.events__image-container {
    overflow: hidden;
}

.events__card-image {
    margin: 0;
    cursor: pointer;
    filter: brightness(0.9);
    object-fit: cover;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.events__event-card {
    display: flex;
    margin: 16px 0;
    padding-bottom: 1.4em;
    background: white;
    box-shadow: 0 2px 3px 0 rgba(114, 59, 59, 0.16);
    overflow: hidden;
}

.events__event-card:hover .events__card-image {
    filter: brightness(1.05);
    transform: scale(1.06)
}

.events__event-information {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 2.8em;
}

.events__more-button {
    position: absolute;
    border: none;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .events__title {     
        font-size: 1.2em;
        text-align: center;
    }
}

@keyframes sizeToFit {
    0% {
        transform: scale(1);
    }
    7% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}