<div class="container events-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Upcoming Events</h1>
    </div>
  </div>

  <div class="row upcoming-events">
    <div [ngsReveal]="{ 'scale': 0.98 }" class="events__card-wrapper col-md-4 col-sm-6"
      *ngFor="let event of upcoming_events">

      <div class="events__event-card">

        <div class="events__event-information">

          <div class="events__image-container">
            <img class="events__card-image" [routerLink]="event.eventUrl" src="{{event.images[0]['small']}}"
              alt="event image">
          </div>

          <h1 class="mx-3 my-3">{{event.title}}</h1>
          <h4 class="mx-3">
            <fa class="mr-2" name="calendar"></fa>{{event.startDate | date: 'mediumDate'}}<ng-container
              *ngIf="event.endDate"> &ndash; {{event.endDate | date: 'mediumDate'}}</ng-container>
          </h4>
          <h4 class="mx-3">
            <fa class="mr-2" name="map-marker"></fa>{{ event.location }}
          </h4>
          <p class="mx-3 mt-3">{{event.snippet}}</p>
          <button class="mx-3 mt-3 btn btn-primary events__more-button" [routerLink]="event.eventUrl"><span>LEARN
              MORE</span>
            <fa class="ml-2" name="arrow-circle-right"></fa>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container events-container">

  <div class="row">
    <div class="col-md-12">
      <h1>Past Events</h1>
    </div>
  </div>

  <div class="row past-events">
    <div [ngsReveal]="{ 'scale': 0.98 }" class="events__card-wrapper col-md-4 col-sm-6"
      *ngFor="let event of past_events">

      <div class="events__event-card">

        <div class="events__event-information">

          <div class="events__image-container">
            <img class="events__card-image" [routerLink]="event.eventUrl" src="{{event.images[0]['small']}}"
              alt="event image">
          </div>

          <h1 class="mx-3 my-3">{{event.title}}</h1>
          <h4 class="mx-3">
            <fa class="mr-2" name="calendar"></fa>{{event.startDate | date: 'mediumDate'}}<ng-container
              *ngIf="event.endDate"> &ndash; {{event.endDate | date: 'mediumDate'}}</ng-container>
          </h4>
          <h4 class="mx-3">
            <fa class="mr-2" name="map-marker"></fa>{{ event.location }}
          </h4>
          <p class="mx-3 mt-3">{{event.snippet}}</p>
          <button class="mx-3 mt-3 btn btn-primary events__more-button" [routerLink]="event.eventUrl"><span>LEARN
              MORE</span>
            <fa class="ml-2" name="arrow-circle-right"></fa>
          </button>
        </div>
      </div>

    </div>
  </div>

</div>