<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="mb-3">Curators</h1>
      </div>
  </div>

  <div [ngsReveal]="{distance:'0px',viewFactor:0.5}" class="curator row" *ngFor="let curator of curators">
      <div class="col-5 col-sm-3 col-md-2">
          <img class="curator-image" src={{curator.imageUrl}} alt="">
      </div>
      <div class="col-sm-9 col-md-10">
          <h2 class="text-green curator-name mb-3">{{ curator.name }}</h2><h2 [ngsReveal]="{distance:'36px',origin:'left'}" class="curator-title">{{curator.title}}</h2>
          <p class="multi-lines-text">{{ curator.text }}</p>
      </div>
      
  </div>
</div>
