<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="mb-3">Curators</h1>
      </div>
  </div>

  <div ngsReveal class="curator row" *ngFor="let curator of curators">
      <div class="col-6 col-sm-3 offset-md-0 col-md-2">
          <img class="curator__image mb-4" src={{curator.imageUrl}} alt="">
      </div>
      <div class="col-sm-9 col-md-10">
          <h3 class="text-dark-green curator__name font-weight-bold">{{ curator.name }}</h3>
          <h4 class="curator__title text-darker-gray font-weight-boldest mt-3">{{curator.title}}</h4>
          <p class="multi-lines-text curator__text mt-3" [innerHtml]="curator.text"></p>
      </div>
      
  </div>
</div>
