<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Media Contacts</h1>
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h2>Singapore:</h2>
        </div>
    </div>
    <div class="row" *ngFor="let contact of singaporeContacts">
        <div class="col-md-12">
            <h3>{{ contact.name }}</h3>
            <p class="font-weight-light">{{ contact.department }}<br>
                {{ contact.company }}<br>
                E: <a class="contact__email-address" href="mailto: {{contact.email}}">{{ contact.email }}</a><br>
                {{ contact.telephone }}
            </p>
        </div>
    </div>

    <div class="row mt-5 mb-3">
        <div class="col-md-12">
            <h2>International:</h2>
            <p class="font-weight-light">{{ internationalContacts[0].company }}<br>
                {{ internationalContacts[0].telephone }}
            </p>
        </div>
    </div>
    <div class="row" *ngFor="let contact of internationalContacts">
        <div class="col-md-12">
            <h3>{{ contact.name }}</h3>
            <p class="font-weight-light">{{ contact.title }}<br>
                E: <a class="contact__email-address" href="mailto: {{contact.email}}">{{ contact.email }}</a>
            </p>
        </div>
    </div>
</div>