.project-detail__interview-video-wrapper {  
    width: 100%;
    height: 517.5px;
}
.project-detail__atmospheric-video-wrapper {
    width: 100%;
    height: 250px;
}
@media only screen and (max-width: 1200px) {
    .project-detail__interview-video-wrapper {
        height: 433.1px;
    }
    .project-detail__atmospheric-video-wrapper {
        height: 208px;
    }
}
@media only screen and (max-width: 992px) {
    .project-detail__interview-video-wrapper {
        height: 320.6px;
    }
    .project-detail__atmospheric-video-wrapper {
        height: 151.9px;
    }
}
@media only screen and (max-width: 768px) {
    .project-detail__interview-video-wrapper,
    .project-detail__atmospheric-video-wrapper {
        height: 286.8px;
    }
}
@media only screen and (max-width: 600px) {
    .project-detail__interview-video-wrapper,
    .project-detail__atmospheric-video-wrapper {
        height: 51.6vw;
    }
}

.project-detail__header-image {
    margin: 0 auto;
    width: 100%;
}

.project-conversation__title {
    font-size: 2em;
}
.project-conversation__party {
    text-align: left;
}
@media only screen and (max-width: 600px) {
    .project-conversation__party {
        text-align: left;
    }
}


.see-others-btn {
    display: block;
    margin: 50px auto;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 2px solid #888888;
    border-radius: 4px;
    color: #676767;

    transition: 0.3s ease;
}

.see-others-btn:hover {
    border: 2px solid #232323;
    color: #232323;
}