.project-detail__video-wrapper {
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.project-detail__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-detail__header-image {
    margin: 0 auto;
}

.see-others-btn {
    display: block;
    margin: 50px auto;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: 2px solid #787878;
    border-radius: 4px;
    color: #787878;

    transition: 0.3s ease;
}

.see-others-btn:hover {
    border: 2px solid #232323;
    color: #232323;
}