.gallery-container {
    margin: 85px auto;
    margin-bottom: 50px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .gallery-container {
        margin: 40px auto;
    }
}

.gallery-title {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: lighter;
}

ngx-gallery /deep/ .ngx-gallery-image-wrapper {
    background: black;
}