<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1 class="pavilion__static-title">Singapore Pavilion</h1>
            <h1 class="pavilion__moving-title text-green">{{ pavilion.title }}</h1>
            <p class="multi-lines-text">
                {{pavilion.description}}
            </p>
        </div>
    </div>
</div>

<app-gallery [inputClass]="'col-md-12'" [imagePath]="pavilion.imagePath" [images]="pavilion.images"
[width]="galleryWidth" [height]="galleryHeight" imageSize="contain"></app-gallery>
