.pavilion__static-title {
    margin-right: 14px;
    padding-right: 14px;
    font-weight: bold;
}

.pavilion__description ::ng-deep a {
    color: #38d42f;
    text-decoration: none;
}

.pavilion__description ::ng-deep a:hover {
    color: #18a40f;
}
