<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img  class="pavilion__header-image" src={{pavilion.imagePath}}{{pavilion.headerImage}} alt="">
            <h1 class="mt-5">{{ pavilion.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="multi-lines-text">
                {{pavilion.description}}
            </p>
        </div>
    </div>
</div>

<app-gallery [imagePath]="pavilion.imagePath" [images]="pavilion.images"
[width]="galleryWidth" [height]="galleryHeight" imageSize="contain"></app-gallery>
