.project-mini__link {
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;    
}

.project-mini__image {
    display: block;
    margin: 0 auto;
    width: 100%;

    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.36s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project-mini__image.ng-lazyloaded {
    animation: 2.5s cubic-bezier(0.185, 0.61, 0.355, 1) 0s fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}

.project-mini__title-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 94%;
    width: 94%;
    margin: 3%;

    opacity: 0;
    background: rgba(0,0,0,0.61);
    transform: scale(1);

    transition: opacity .8s cubic-bezier(.215,.61,.355,1);
}
@media only screen and (max-width: 1024px) {
    .project-mini__title-container {
        opacity: 1;
        width: 100%;
        height: 32%;
        margin: 0 auto;
        top: 68%;
        background: rgba(20,20,20,0.51);
        transform: scale(1);
    }
}
@media only screen and (max-width: 992px) {
    .project-mini__title-container {
        opacity: 1;
        width: 100%;
        height: 36%;
        margin: 0 auto;
        top: 64%;
        background: rgba(20,20,20,0.51);
        transform: scale(1);
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 600px) {
    .project-mini__title-container {
        opacity: 1;
        width: 88%;
        height: 24%;
        margin: 0 auto;
        top: 38%;
        background: rgba(20,20,20,0.61);
        transform: scale(1);
        font-size: 1em;
    }
}

.project-mini__link:hover .project-mini__title-container {
    opacity: 1;
    transform: scale(1);
}

.project-mini__title {
    color: #EEEEEE;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 82%;
    line-height: 1.2em;
    font-weight: bolder;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-mini__quote {
    display: block;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
    .project-mini__quote {
        margin-bottom: 0.7em;
    }
}
@media only screen and (max-width: 600px) {
    .project-mini__quote {
        font-size: 0.9em;
    }
}



.project-mini__title em {
    font-size: 0.9em;
    color: #DDDDDD;
}

.project-mini__link:hover .project-mini__image {
    transform: scale(1.06)
}