.navbar {
    background-color: white;
}
.navbar-brand-logo {
    width: 120px;
    transition: width 0.7s;
}

@media only screen and (max-width: 768px) {
    .navbar-brand-logo {
        width: 50px;
    }
}