.event-detail__video-wrapper {  
    width: 100%;
    height: 517.5px;
    background: #232323;
}

@media only screen and (max-width: 992px) {
    .event-detail__video-wrapper {
        height: 320.6px;
    }
}
@media only screen and (max-width: 768px) {
    .event-detail__video-wrapper {
        height: 286.8px;
    }
}
@media only screen and (max-width: 600px) {
    .event-detail__video-wrapper {
        height: 51.6vw;
    }
}
