<div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="mb-3">{{event.title}}</h1>
        <h4><fa class="mr-2" name="calendar"></fa>{{event.startDate | date: "mediumDate"}}<ng-container *ngIf="event.endDate"> &ndash; {{event.endDate | date: "mediumDate"}}</ng-container></h4>
        <h4><fa class="mr-2" name="map-marker"></fa>{{ event.location }}</h4>

        <h3 class="my-5 multi-lines-text" *ngIf="event.highlight" [innerHtml]="event.highlight"></h3>

        <div *ngIf="event.videoUrl" class="event-detail__video-wrapper" [innerHtml]="video_iframe_html"></div>
        
        <p class="mt-5 multi-lines-text" [innerHtml]="event.writeup"></p>
      </div>
  </div>
</div>

<app-gallery *ngIf="event.images" [inputClass]="'col-md-10 offset-md-1'" [images]="event.images"
            [width]="galleryWidth" [height]="galleryHeight" imageSize="contain"></app-gallery>