
.project-mini {
    margin: 16px auto;
}
@media only screen and (max-width: 992px) {
    .project-mini {
        margin: 10px auto;
        padding: 0 10px;
    }
}
@media only screen and (max-width: 768px) {
    .project-minis__container {
        margin-bottom: 10px;
    }    
}
@media only screen and (max-width: 600px) {
    .project-minis__container {
        margin: 0;
    }
    .project-minis__title {
        margin: 1.6em 0;
        font-size: 1.2em;
        text-align: center;
    }
    .project-mini {
        margin: 0 auto;
        padding: 0;
    }
}