<div class="project-minis__container container">  
  <div class="row">
      <div class="col-md-12">
          <h1 class="project-minis__title mb-3">No More Free Space?</h1>
          <h1 class="project-minis__title">&nbsp;We...</h1>
      </div>
  </div>
  
  <div class="row project-minis">
    <div ngsReveal class="project-mini col-xl-3 col-md-4"
    *ngFor="let projectMini of projectMinis">

      <app-project-mini
      [projectUrl]="projectMini.projectUrl"
      [imagePath]="projectMini.imagePath"
      [lowResImagePath]="projectMini.lowResImagePath"
      [subquote]="projectMini.subquote"
      [title]="projectMini.title"
      ></app-project-mini>

    </div>
  </div>
  
</div>
