.project-minis__title {
    display: inline-block;
}

.project-mini {
    margin: 16px auto;
}
@media only screen and (max-width: 992px) {
    .project-mini {
        margin: 10px auto;
        padding: 0 10px;
    }
}
@media only screen and (max-width: 768px) {
    .project-minis__container {
        margin-bottom: 10px;
    }    
}
@media only screen and (max-width: 600px) {
    .project-minis__container {
        margin-bottom: 0;
    }
    .project-mini {
        margin: 0 auto;
        padding: 0;
    }
}