/* Application-wide Styles */
p, span, em {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.618em;
}
h1 {
    color: #212121;
    font-family: 'Ubuntu', Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
h2 {
    color: #424242;
    font-family: 'Ubuntu', Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: lighter;
}
h3 {
    color: #616161;
    font-family: 'Ubuntu', Tahoma, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
}
h4 {
    color: #6D6D6D;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}
h5 {
    color: #727272;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: lighter;
}
.text-green {
    color:#38d42f
}
.text-red {
    color: #d62d20;
}
.text-blue {
    color: #0057e7;
}
html {
    height: 100%;
}
body {
    padding-top: 84px;
    height: 100%;
    color: #282828;
    background-color: #FAFAFA;
    font-family: Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 768px) {
    body {
        padding-top: 59px;
    }
}
img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
}
.container {
    margin: 36px auto;
}
.multi-lines-text {
    white-space: pre-line;
}

.side-spacer {
    margin-left: 14px;
    margin-right: 14px;
}
